html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 14px!important;
  vertical-align: baseline;
  list-style: none;
}
a{color: #666;}
.c{margin: 0 auto;}
textCenter{text-align: center}
.textLeft{text-align: left;}
.relative{position: relative}
.absolute{position: absolute;}
.buttom{bottom: 0px;}
.mL_20{margin-left: -20px;}
.mB10{margin-bottom: 10px;}
.mTB10{margin:10px 0 10px 0;}
.font_size_8{font-size: .8rem;}
.db{display: inline-block}
.hidden{overflow: hidden;}
.fl{float: left;}
.fr{float: right;}
.mT10{margin-top:10px;}
.mT20{margin-top:20px;}
.textCenter{text-align: center;}
.top10{top:10px;}
.w100{width: 100%;}
/*样式vux重置*/
div.weui-tab__panel{ padding-bottom: 0px !important;}
div.vux-header{background-color: #fff;}
div.vux-header .vux-header-title{color: #000;}
div.vux-header .vux-header-left .left-arrow:before{content: "";position: absolute;width: 12px;height: 12px;border: 1px solid #000;border-width: 1px 0 0 1px;-webkit-transform: rotate(315deg);transform: rotate(315deg);top: 8px;left: 7px;}
div.vux-header .vux-header-left a, div.vux-header .vux-header-left button, div.vux-header .vux-header-right a, div.vux-header .vux-header-right button{color: #000;}
div.weui-search-bar{background-color: #fff;}
div.weui-search-bar:after{border-bottom: 0;}
form.weui-search-bar__form:after{border-radius:40px;}
form.weui-search-bar__form{background-color: #fff;}
div.weui-search-bar.weui-search-bar_focusing .weui-search-bar__cancel-btn{display: none;}
div.weui-search-bar__box .weui-search-bar__input{color: #666;}
div.weui-tabbar{bottom:-1px;}
/*通用样式*/
html , body{
  height:100%;
}
.font_r{color: #FB0012;}
.font_b{color: #77A9F3;}
.shadow{box-shadow:0 2px 12px 0 rgba(0,0,0,.1);border-radius: 8px;border: 1px solid #ebeef5}
.border_s{height: 1rem;width: 1px;display: inline-block;line-height: 1.1rem;position: relative;top:2px;margin-right: 5px;}
.border_l_b{border-left: 2px solid #0F8FFF}
.border_l_o{border-left: 2px solid #FFA541}
.border_l_p{border-left: 2px solid #ff3366}
.weight800{font-weight: 800;}
.blue_a{color: #0F8FFF}
.tex_1{font-size: 1rem;color: #000;margin: 0 5px;font-weight: 800;}
.tex_2{font-size: .9rem;color: #666;margin: 0 5px;}
.tex_3{font-size: .6rem;}
.color_p{color: #ff3366}
.bg_b{background-color: #0092fe;}
.relative_30{position: relative;top:-30px;}
.pading_15_content{padding: 15px;margin-bottom: 40px;}
/*------------------------------------------------------------------------*/
/*登录按钮样式*/
button.btn_f{background: #fff;color: #77A9F3}
button.btn_f:after{border: none;}
.tabbar_btn{display: block;width: 100%;height: 100%;background-size:cover;background-repeat: no-repeat;background-position: center center; }
.home_btn{background-image: url("../../../static/bottom/icon_nav_button2.png")}
.course_btn{background-image: url("../../../static/bottom/icon_nav_article2.png")}
.weui-bar__item_on .home_btn{background-image: url("../../../static/bottom/icon_nav_button.png")}
.weui-bar__item_on .course_btn{background-image: url("../../../static/bottom/icon_nav_article.png")}
/*------------------------------------------------------------------------*/
#login .login_input .weui-cells{background-color: transparent!important;}
#login .weui-cell__hd img{width: 23px;height: 38px;}
#login .weui-input{color: #fff;}
#Login .weui-cell__hd{background-color: transparent;}
#Login .weui-cell__bd input.weui-tab__panel{padding-bottom: 0px;}
.card_box{box-shadow:0 2px 12px 0 rgba(0,0,0,.1);border-radius: 8px;border: 1px solid #ebeef5;padding: 10px;border-radius: 5px;margin:0 auto;}
.user_header{width: 60px;height: 60px;border-radius: 50%;vertical-align: middle;border: 2px solid #333;}
.user_header_r{width: 60px;height: 60px;border-radius: 5px;vertical-align: middle;border:1px solid #d4d3d3;}
/*主页*/
.home_chart .noselect{width: 100%!important;border-radius: 5px;margin-top:48px;}
.icon{width: 30px;height: 30px;display: inline-block;background-position: center center;background-repeat: no-repeat;background-size: cover;vertical-align: middle;position: relative;}
.icon_setting{background-image: url("../icon_setting.png");margin: 20px 0 0 10px;}
.home_custom{paddging:6px 5px 3px;margin-top:10px;margin-left: 5px; margin-right:5px;}
.home_custom .vux-tab{border-radius: 6px;}
div.weui-panel:before {border-top:0px solid #e5e5e5}
div.weui-panel__hd{color: #000;font-weight: 800;font-size: 1.1rem;padding: 5px 15px 5px;}
div.weui-panel__hd:after{border-bottom:0px solid #e5e5e5}
div.weui-panel:after{border:0;}
/*设置*/
.line_heigth{line-height: 60px;}
.weui-btn.save_btn{border-radius: 35px;}
.vux-card-content{margin-top: 10px;}
.bg_b.weui-btn_primary{background-color: #0092fe}
/*课程详情*/
#courseInfo .weui-cell{padding: 0px;}
/*个人健康信息*/
#healthInfo .weui-cells{border: 0;padding:0 0 10px 0px;text-align: left;margin-top:0px;}
#healthInfo .weui-cell{padding:10px 0px}
#healthInfo .weui-cell:before{left: 0}
div.weui-cells:before{border: 0;}
div.weui-cells:after{border: 0;}
.pin_fen_box{border-radius: 10px;background: url("../../assets/health_bg_2.png"); background-size: cover;}
.pin_fen_box .weui-panel{color: #fff;background-color: transparent;border: 0;}
#healthInfo .vux-card-content{margin: 0px;}
/*教师*/
label.weui-search-bar__label{border-radius: 13px;}
#teacher div.weui-cell_access,#student_list div.weui-cell_access{box-shadow:0 2px 12px 0 rgba(0,0,0,.1);border-radius: 8px;border: 1px solid #ebeef5;margin-bottom: 10px;}
.class_list .weui-cells{margin-top: 0px;}
/*.class_list .weui-cell{padding: 0px;display: block}*/
.class_list .weui-media-box{padding: 10px;margin-top: 10px;box-shadow:0 2px 12px 0 rgba(0,0,0,.1);border-radius: 8px;border: 1px solid #ebeef5;}
.class_list .weui-media-box_appmsg .weui-media-box__thumb{border-radius: 50%}
.class_list .weui-media-box_text .weui-media-box__title{color: #000;}

#childen_info_conternt .weui-cells{margin-top:0px;}
/*视频播放*/
#testVideo .media_list{color: red}
